#app {
  height: calc(100% - 55px);
}
.sticky-footer {
  font: var(--main-font);
  display: block;
  background: #fff;
  border: 1px solid gray;
  position: sticky;
  bottom: 0;
  padding: 1rem;
  z-index: 100;
}
